$main-color: #2086e8;
$primary-color: #4bbc37;
$text-color: #7e7c7c;

body {
    margin: 0;
}

@mixin flexAlign($hor: center, $vert: center) {
    display: flex;
    align-items: ($vert);
    justify-content: ($hor);
}

.header {
    width: 100%;
    height: 68px;
    padding: 0 150px;
    box-sizing: border-box;
    @include flexAlign(space-between); //или так @include flexAlign($hor: space-between)

    @media screen and(min-width: 1280px) {
        width: 1280px;
        margin: 0 auto;
    }

    @media screen and (max-width: 980px) {
        padding: 0 15px;
        flex-direction: row-reverse;
    }

    &__links { //.header__links
        @include flexAlign(flex-start);
        @media screen and (max-width: 640px) {
            display: none;
        }

        &-item {
            margin-right: 12px;
            text-decoration: none;
            color: $text-color;
            padding: 10px 14px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-sizing: border-box;
            transition: .4s;
            cursor: pointer; 

            &:hover {
                border: 1px solid $main-color;
                background: linear-gradient(to top, $main-color, #37b2f8);
                color: white;
            }
        }
    }

    #menu {
        display: none;
    }

    #menu:checked + .header__button > .header__button-line {
        background: transparent;
    }

    #menu:checked + .header__button > .header__button-line::after {
        transform: rotate(-45deg);
        top: 0;
    }

    #menu:checked + .header__button > .header__button-line::before {
        transform: rotate(45deg);
        bottom: 0;
    }

    .dropdown {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; //em, rem, %, vw
        background: linear-gradient(to bottom right, lightgreen, yellow);
        z-index: 100;
        transition: .5s ease-in-out;
        opacity: 0;
        transform: scale(0);
    }

    #menu:checked ~ .dropdown {
        opacity: 1;
        transform: scale(1);
    }

    &__button {
        cursor: pointer;
        height: 45px;
        width: 45px;
        border: 2px solid $text-color;
        box-sizing: border-box;
        border-radius: 5px;
        @include flexAlign;
        display: none;
        position: relative;
        z-index: 101;

        @media screen and (max-width: 640px) {
            display: flex;
        }

        &-line {
            width: 30px;
            height: 2px;
            background: $text-color;
            position: relative;
            transition: .3s;

            &::after {
                content: "";
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: 0;
                top: 7px;
                transition: .3s;
            }

            &::before {
                content: "";
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: 0;
                bottom: 7px;
                transition: .3s;
            }
        }
    }
}

.banner {
    width: 100%;
    height: 530px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flexAlign;
    flex-direction: column;
    color: white;
    position: relative;

    &__title {
        text-transform: uppercase;
        font-size: 48px;
        margin-bottom: 16px;
        text-align: center;

        &_big {
            font-weight: bold;
            font-size: 52px;
        }

        @media screen and (max-width: 640px) {
            font-size: 36px;
        }
    }

    &__button {
        outline: none;
        width: 270px;
        height: 57px;
        box-sizing: border-box;
        border:none;
        border-top: 1px solid #6feb55;
        border-radius: 3px;
        background: linear-gradient(to top, $primary-color, #6dd258);
        color: white;
        font-weight: bold;
        font-size: 34px;
        text-shadow: 1px 1px 1px rgba(black, .4);
        box-shadow: 0 0 0 6px rgba(black, .1);
        margin-top: 30px;

    }

    .slider {
        width: 480px;
        height: 245px;
        background-color: white;
        box-sizing: border-box;
        border-bottom: 7px solid $primary-color;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(black, .4);
        color: #868686;
        text-transform: capitalize;
        padding: 24px 28px 21px 28px;
        box-sizing: border-box;
        position: absolute;
        left: calc(50% - 240px);
        bottom: -150px;
        @include flexAlign();
        flex-direction: column;
        // margin-bottom: -150px; можно и так если без флекса
        

        @media screen and (max-width: 590px){
            left: 15px;
            width: calc(100% - 30px);
        }

        @media screen and (max-width: 480px) {
            height: auto;
            bottom: -200px;
        }

        @media screen and (max-width: 401px) {
            bottom: -270px;
        }

        @media screen and (max-width: 342px) {
            bottom: -280px;
        }

        @media screen and (max-width: 338px) {
            bottom: -300px;
        }

        @media screen and (max-width: 322px) {
            bottom: -365px;
        }

        &__title {
            font-size: 22px;
            margin-bottom: 26px;
            text-align: center;
        }

        &__container {
            width: 100%;
            height: 100%;
            @include flexAlign(space-between, flex-start);
            flex-wrap: wrap;

            &-item {
                flex-direction: column;
                @include flexAlign(space-between, flex-start);
                height: 66px;
                font-size: 14px;
            }
        }
    }
}

.services {
    width: 100%;
    color: $text-color;
    flex-direction: column;
    @include flexAlign;
    padding-top: 210px;
    padding-bottom: 75px;
    background-color: #ececec;

    @media screen and (max-width: 401px) {
        padding-top: 300px;
        padding-bottom: 40px;
    }

    @media screen and (max-width: 322px) {
        padding-top: 365px;
    }

    &__title {
        font-size: 26px;
        margin-bottom: 16px;
        text-align: center;

        &_small {
            font-size: 22px;
        }
    }

    .items {
        width: 760px;
        @include flexAlign(space-between);
        margin-top: 50px;

        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
            width: 100%;
            @include flexAlign();
        }

        .card {
            flex-direction: column;
            @include flexAlign;
            font-size: 20px;

            @media screen and (max-width: 800px) {
                padding: 13px;
            }

            &__circle {
                background: white;
                border-radius: 50%;
                width: 133px;
                height: 133px;
                @include flexAlign;
                margin-bottom: 19px;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 32px;
    color: white;
    background-color: #414141;
    @include flexAlign;
    font-size: 13px;
}


